
body{
  background-color: rgb(215, 157, 137);
}

.light-theme{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  background-color: rgb(204, 225, 252);
  color: rgb(162, 92, 0);
  border: black 2px solid;
  padding: 5px;
} 

.dark-theme{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  background-color: rgb(43, 72, 110);
  color: rgb(234, 176, 101, 34);
  border: rgb(255, 255, 255) 2px solid;
  padding: 5px;
}